<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title></title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <!-- Scripts -->
  </head>
  <body>
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/vote_poster">Vote poster</a></li>
            <li><a href="/vote_demo">Vote démo</a></li>
            <li><a href="/ranking">Classements</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>