{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h1>Vote poster</h1>
        <h2 class="alert alert-warning">Si vous avez déjà voté, seul votre dernier vote sera pris en compte</h2>

        <div class="col-md-10 col-md-pull-2">
            <h1>Posters</h1>
            <ul>
                {%for poster in posters %}
                    <li>Poster numéro {{poster["numero"]}} : {{poster["titre"]}}
                        <p>
                            {{poster["description"]}}<br/>
                            <a class="poster" id="poster{{poster["numero"]}}" href="/vote_poster/{{poster["numero"]}}">Voter pour ce poster <span class="glyphicon glyphicon-ok"></span></a>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script src="/static/js/sdzecvxcv.js"></script>
    <script src="/static/js/vote_poster.js"></script>
{% endblock %}